@{
    ViewBag.Title = "Home Page";
}
<br/>
<div class="jumbotron" style="background-color: #60baba">
    <h1 style="font-family: Alex Brush;">Batton Photograpy</h1>
    <p class="lead">Batton Photograpy is based in Winter Haven, FL. We are available for weddings, parties, and any other event. Contact us to purchase a print. </p>
</div>

<div class="row">
    <div class="col-xs-4" id="weddingGallery">
        <img src="~/Images/Wedding/WeddingImage1.jpg" alt="WeddingPhoto" class="img-responsive img-thumbnail"/>
        <br/>
        <br/>
        <div class="text-center">
            <div class="btn btn-lg btn-info text-center">View Wedding Gallery</div>
        </div>
    </div>

    <div class="col-xs-4" id="eventGallery">
        <img src="~/Images/Event/EventImage1.jpg" alt="EventPhoto" class="img-responsive img-thumbnail"/>
        <br/>
        <br/>
        <div class="text-center">
            <div class="btn btn-lg btn-info text-center">View Event Gallery</div>
        </div>
    </div>

    <div class="col-xs-4" id="natureGallery">
        <img src="~/Images/Nature/NatureImage1.jpg" alt="NaturePhoto" class="img-responsive img-thumbnail"/>
        <br/>
        <br/>
        <div class="text-center">
            <div class="btn btn-lg btn-info text-center">View Nature Gallery</div>
        </div>
    </div>

</div>