
@{
    ViewBag.Title = "Nature Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 0;
}


<style>
    .modal-dialog {
        align-content: center;
        width: 90%;
        height: 90%;
        padding: 50% 50% 50% 50%;
        padding: 0;
        
    }
    .modal-content {
        height: auto;
        min-height: 100%;
        border-radius: 0;
    }

    .imgCol {
        max-height: 150px;
        max-width: 150px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 15px;
    }

</style>
<div class="container">
    <div class="row">
        @{
            foreach (var fullPath in ViewBag.Photos)
            {

                var fileName = Path.GetFileName(fullPath);
                var id = Path.GetFileNameWithoutExtension(fullPath);
                var target = "#" + @id;
                
                <div class="col-xs-4 imgCol">
                    <a href="#" data-toggle="modal" data-target="@target">
                    <img src="~/Images/Nature/FullSize/@fileName?mode=carve&height=150&width=150"/>
                        </a>
                </div>

                <div class="modal fade" id="@id" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><span class="glyphicon glyphicon-remove text-danger"></span></span></button>
                                <div class="text-center">
                                    <h4 class="modal-title" id="myModalLabel">@id</h4>
                                </div>
                            </div>
                            <div class="modal-body">
                                <img id="current" src="~/Images/Nature/FullSize/@fileName" class="img-responsive"/>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                <a href="@Url.Action("RequestPrint", "Home", new {gallery = "Nature", file = @fileName})">
                                    <div type="button" class="btn btn-primary">Request Print</div>
                                </a>
                                <a href="~/Images/Nature/FullSize/@fileName" target="_blank" title="Open full size">
                                    <div type="button" class="btn btn-success"><span class="glyphicon glyphicon-new-window"></span></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                count++;
            }
        }
    </div>
</div>